<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .current {
            color: #ff0000;
        }
    </style>
</head>
<body>
<div id="app">
    <tutou :list="list">
        <template  v-slot="slotProps">
            <strong v-if="slotProps.info.id == 2" class="current">{{slotProps.info.name}}</strong>
            <span v-else>{{slotProps.info.name}}</span>
        </template>
</div>
<script src="./lib/vue-3.0.js"></script>
<script>
    let vm = Vue.createApp({
        data() {
            return {
                list:[{id:1,name:'apple'},{id:2,name:'orange'},{id:3,name:'lemon'},{id:4,name:'banane'},{id:1,name:'apple'},{id:2,name:'orange'},{id:3,name:'lemon'},{id:4,name:'banane'},{id:1,name:'apple'},{id:2,name:'orange'},{id:3,name:'lemon'},{id:4,name:'banane'}]
            }
        }
    })

    vm.component('tutou',{
        props:['list'],
        data() {
            return {

            }
        },
        template: `<div>

            <ul>
            <li v-for="(item,index) in list">
                <slot :info="item">{{item.name}}</slot>
            </li>
            </ul>

</div>`
    })

    vm.mount('#app')
</script>
</body>
</html>